.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    border: 1px solid #005994 !important;
    background: #0093EA  !important;
    color: #fff !important;
    font-weight: bold !important;
    text-shadow: 0  0 #eee !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #0093EA), to( #007dcd ));
    background-image: -webkit-linear-gradient( #0093EA , #007dcd );
    background-image: -moz-linear-gradient( #0093EA, #007dcd );
    background-image: -ms-linear-gradient( #0093EA , #007dcd );
    background-image: -o-linear-gradient( #0093EA , #007dcd );
    background-image: linear-gradient( #0093EA , #007dcd );
}
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover{
    border: 1px solid #007dcd;
    background: #333 ;
    font-weight: bold;
    text-shadow: 0 0 #eee !important;
    color: #fff !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #0093EA ), to( #0093EA ));
    background-image: -webkit-linear-gradient( #0093EA , #0093EA );
    background-image: -moz-linear-gradient( #0093EA , #0093EA );
    background-image: -ms-linear-gradient( #0093EA , #0093EA );
    background-image: -o-linear-gradient( #0093EA , #0093EA );
    background-image: linear-gradient( #0093EA , #0093EA );
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #0093EA !important ;
    border-color:#0093EA !important;
    color: #fff ;
    text-shadow: 0  1px 0  #005599 ;
}
img{
     padding: 25px;
}
button.ui-btn, .ui-controlgroup-controls button.ui-btn-icon-notext {
 border-radius: 5px !important;
    }
#main{
    margin-top: 12%  !important  ;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content
{
        background-color: #ddd;
    color: #111;
}
.ui-collapsible-content {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
.ui-collapsible-content-collapsed {
  display: block;
  height: 0;
  padding: 0 16px;
}
